site_name: Kluster Docs
site_url: https://kluster.ai/
home_url: # TODO: Add docs URL
docs_dir: kluster-docs
copyright: © 2024 kluster.ai. All rights reserved.
theme:
  name: material
  custom_dir: material-overrides
  favicon: /assets/images/favicon.png
  logo: /assets/images/logo.png
  font:
    text: DM Sans
    code: Source Code Pro
  features:
    - navigation.footer
    - content.code.copy
    - toc.follow
    - toc.integrate
extra_css:
  - assets/stylesheets/terminal.css
markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - md_in_html
  - meta 
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.keys
  - pymdownx.snippets:
      base_path: kluster-docs/.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: ＃
plugins:
  - search
  - awesome-pages
  - macros:
      include_yaml:
        - kluster-docs/variables.yml
validation:
  absolute_links: ignore
extra:
  generator: !!bool false
  social:
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/klusterai
      name: X
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/kluster-ai/
      name: LinkedIn
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/klusterai/
      name: Instagram
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/profile.php?id=61558614587340
      name: Facebook
  # TODO: set up analytics and feedback
  # analytics:
  #   provider: google
  #   property: G-XXX
  #   feedback:
  #     title: Was this page helpful?
  #     ratings:
  #       - icon: material/emoticon-happy-outline
  #         name: This page was helpful
  #         data: 1
  #         note: >-
  #           Thanks for your feedback!
  #       - icon: material/emoticon-sad-outline
  #         name: This page could be improved
  #         data: 0
  #         note: >-
  #           Thanks for your feedback! Help us improve this page by submitting
  #           <a href="https://github.com/XXX/XXX/issues/new/?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">additional feedback</a>.
